#nav{
        background: rgb(238, 151, 21);
        display: flex;
        justify-content: space-around;
        padding: 12px;
       
                         
}
body{
    background-color: rgb(236, 196, 17);
}
ul li{
    display: inline;
    
    }

a:hover{
    color:rgb(243, 211, 211);
}


#poule{
    display: flex;
    justify-content: center;
    width: 100%;
}

#welcome{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    }
@font-face {
        font-family: 'orange juice.ttf';
        src: url(Font/orange\ juice\ 2.0.ttf);
        font-weight: normal;
        font-size: normal;
        
    }
h1{
    color: black;/*rgb(0,0,0) ou #000 */
    font-size: 70px;
    font-family: 'orange juice';

}

.eggs{
    display: flex;
    justify-content: space-around;
}